# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.production

# VS Code
.vscode/
*.code-workspace

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Build
dist/
build/

# Cache
.cache/
*.tmp