.botaoentrar{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-color: rgb(119, 119, 119);
    color: rgb(255, 255, 255);
    border-bottom: none;
    border-style: hidden;
    margin-top: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 1s ease;
    transition: text-shadow 0.4s ease, transform 0.4s ease;
}
.botaoentrar:hover{
    transform: translateY(-2px);
    animation: botaoentrar 1s;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 
                 0 0 20px rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
}
.logo{
    position: absolute;
    top: 0;   
    left: 0;
    width: 40px; 
    height: 40px;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.5s ease;
    border: 50%;
}
.logo:hover{
    opacity: 1.1;
}
.paginalogin{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(119, 119, 119);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entrarfundo{
    background-color: rgb(80, 80, 80);
    padding: 40px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}
.h3login1{
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
}
.h3login2{
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
}
.senha1{
    width: 100%;
    padding: 8px;
    text-align: center;
}
#email{
    width: 100%;
    padding: 8px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}